body {
  margin: 0;
  background-color: #132144;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 56px;
  z-index: 999;
  font-family: Permanent Marker;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 50px;
}

#canvas2 {
  background-image: unset;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#game-container {
  position: relative;
  z-index: 999;
  margin-left: 10px;
  margin-right: 10px;
}

canvas {
  background-image: url("img/3. Background/Mesa de trabajo 1.png");
  display: block;
  background-position: center;
  border-radius: 15px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

#startScreen {
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
}

#start-btn {
  width: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 32%;
  z-index: 999;
  cursor: pointer;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#key-arrow {
  width: 70px;
  height: 50px;
}

#SPACE-btn-img {
  width: 150px;
  height: 32px;
  margin-top: 10px;
}

#D-btn-img {
  width: 30px;
  height: 26px;
  margin-top: 10px;
  align-self: center;
}

#gameOver-win {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#gameOver-lost {
  height: 50px;
  width: 260px;
}

#tryAgain {
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0%;
  left: 50%;
  cursor: pointer;
  z-index: 999;
}

.d-block {
  display: block;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.arrows {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  opacity: 0.7;
  width: 100%;
  display: none;
}

@media(max-width:1200px) , (min-heigth:375px){
  .arrows{
    display: flex;
  }
}

.arrows-left {
  display: flex;
  align-items: center;
  width: 200px;
  height: 60px;
  justify-content: space-between;
}

.arrows-left img {
  margin: 5px;
  z-index: 999;
}
.arrows-right img {
  margin: 5px;
}

.d-none {
  display: none;
}

.d-show {
  display: flex;
}

#turn {
  display: none;
}

@media(max-width:740px){
  #turn{
    display: block;
    color: white;
    font-size: 32px;
  }
}

@media only screen and (orientation: landscape) {

  #turn {
    display: none;
  }
}


/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (max-width: 740px) and (orientation: portrait) {
  #game-container {
    display: none;
  }
}


/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (max-width: 740px) and (orientation: landscape) {
  #game-container {
    display: block;
  }
}

